section img{

	width: 150px;
	height: 150px;
	text-align: center;
}
header{
	text-align: center;
	background-color: yellow;
}
section{
	display: flex;
	justify-content: center;
}
article{
	background-color: skyblue;
}
.content{
	width: 1024px;
	margin: 0 auto;
}